<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<!-- VO가 생성될 때마다 추가(type->alias로 대체) -->
		<typeAlias type="com.kh.buffer.member.domain.MemberVO" alias="Member"/>
		<typeAlias type="com.kh.buffer.notice.domain.NoticeVO" alias="Notice"/>
		<typeAlias type="com.kh.buffer.product.domain.ProductVO" alias="Product"/>
		<typeAlias type="com.kh.buffer.survey.domain.SurveyVO" alias="Survey"/>
	</typeAliases>
	<mappers>
		<!-- mapper.xml이 생성될 때마다 추가 -->
		<mapper resource="mappers/member-mapper.xml"></mapper>
		<mapper resource="mappers/notice-mapper.xml"></mapper>
		<mapper resource="mappers/product-mapper.xml"></mapper>
		<mapper resource="mappers/survey-mapper.xml"></mapper>
	</mappers>
</configuration>